h2, h4 {
  margin: 0;
}

.status {
  position: fixed;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 1em;
  gap: 32px;
  background: black;
  border-radius: 16px;;
}

.balance {
  position: fixed;
  top: 12px;
  right: 12px;
  padding: 1em;
  background: black;
  border-radius: 16px;;
}

.value {
  color: white;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .value {
    font-size: 150%;
  }
}

@media screen and (max-width: 600px) {
  .value {
    font-size: 115%;
  }
}
