.controlsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

label {
  text-align: left;
  font-size: 14px;
  max-width: 140px;
}

input {
  margin-top: 6px;
  padding: 0;
  border: 0;
  outline: 0;
  width: 100%;
  text-align: left;
  background: black;
  font-size: 24px;
}

.input {
  color: white;
}

.inputError {
  color: red;
}
