.TokenContainer {
  max-width: 400px;
  margin: 0 auto;
  padding: 100px 0;

  label {
    padding-bottom: 12px;
  }

  input {
    margin-bottom: 12px;
    border-radius: 4px;
    padding: 6px;
  }
}
