.Button {
  font-family: inherit;
  margin: 0;
  gap: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 16px;
  opacity: 0.8;

  &__primary {
    background: #FFFFFF;
    border: 1px solid #000000;
  }

  &__secondary {
    background: #000000;
    border: none;
    color: #fff;
  }

  &__secondary-alternative {
    background: #005EFF;
    border: none;
    color: #fff;
  }

  &:hover {
    opacity: 1;
  }

  &:disabled {
    opacity: 0.4;
  }
}
